.homeContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.homeTitle{
    width: 1024px;
    font-size: 21px;
    margin-bottom: 0;
}